@{
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="contentAdmin">
    <div style=" background:url(/images/background.jpg);height:690px;background-size:cover">
        <h1 style="text-align:center;color:white;text-shadow:2px 2px;">Welcome to Admin Page</h1>
    </div>
</div>
